<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LimeSet | Nait</title>
        <meta name="description"
              content="Buy and Reserve tickets in your favorite night club">
        <!-- TailwindCSS-->
        <link href="/output.css" rel="stylesheet">
        <!-- Web Library -->
        <script src="/htmx.min.js"></script>
    </head>
    <body class="mx-4">
        {% include "partials/header.html" %}
        {% block content %}{% endblock content %}
        {% include "partials/footer.html" %}
    </body>
</html>
