{% extends "partials/base.html" %}
{% block content %}
    <section class="antialiased  text-gray-600 px-4 my-10 mx-[10%] flex flex-col justify-center space-y-4">
        <div class="flex flex-col justify-center">
            <!-- Table -->
            <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
                <header class="px-5 py-4 border-b border-gray-100">
                    <h2 class="font-semibold text-gray-800">Staff</h2>
                </header>
                <div class="p-3">
                    <div class="overflow-x-auto">
                        <table class="table-auto w-full">
                            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                                <tr>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Name</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Username</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Guests</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-center">Profit</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-sm divide-y divide-gray-100">
                                {% for staff in Staff %}
                                    <tr>
                                        <td class="p-2 whitespace-nowrap">
                                            <div class="flex items-center">
                                                <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3">
                                                    <img class="rounded-full"
                                                         src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-05.jpg"
                                                         width="40"
                                                         height="40"
                                                         alt="Alex Shatov">
                                                </div>
                                                <div class="font-medium text-gray-800">{{ staff.Firstname }} {{ staff.Lastname }}</div>
                                            </div>
                                        </td>
                                        <td class="p-2 whitespace-nowrap">
                                            <div class="text-left">
                                                <a href="/guest/{{ staff.Username }}">{{ staff.Username }}</a>
                                            </div>
                                        </td>
                                    {% endfor %}
                                    {% for detail in PromotersDetails %}
                                        <td class="p-2 whitespace-nowrap">
                                            <div class="text-lg text-center">{{ detail.GuestCountSold }}</div>
                                        </td>
                                        <td class="p-2 whitespace-nowrap">
                                            <div class="text-left font-medium text-green-500">{{ detail.GuestProfitSold }}</div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-10">
            <a type="button" href="/admin/staff/new" class="btn-primary">Add Staff</a>
        </div>
        <hr class="solid">
        <!-- Add Event Name-->
        <form hx-post="/event/name/new"
              hx-target="#error_event_name"
              class="form-primary">
            <label for="event">Event Theme</label>
            <input class="text-input-primary"
                   type="text"
                   id="eventname"
                   name="eventname">
            <button class="btn-primary">Add Event name</button>
            <div id="error_event_name"></div>
        </form>
        <!-- End -->
        <!-- Add Event -->
        <hr class="solid">
        <form hx-post="/event/new"
              hx-target="#error_event_add"
              class="form-primary">
            <label for="event">Event Date</label>
            <input class="text-input-primary"
                   type="date"
                   id="event_date"
                   name="event_date">
            <select class="select-primary" name="event_name" id="event_name">
                {% for en in EventNames %}
                    <option value={{ en.EventID }}>{{ en.EventName }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn-primary">Add Event Date</button>
            <div id="error_event_add"></div>
        </form>
        <!-- End -->
        <hr class="solid">
        <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            <header class="px-5 py-4 border-b border-gray-100">
                <h2 class="font-semibold text-gray-800">Events</h2>
            </header>
            <div class="p-3">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                            <tr>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Name</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Event Date</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-gray-100">
                            {% for event in Events %}
                                <tr>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="flex items-center">
                                            <div class="font-medium text-gray-800">{{ event.EventName }}</div>
                                        </div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="text-left">{{ event.EventDate }}</div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr class="solid">
        <form class="form-primary">
            <label for="guest_code">Check guest code</label>
            <input class="text-input-primary"
                   type="text"
                   id="guest_code"
                   name="guest_code">
            <button class="btn-primary">Check</button>
        </form>
    </section>
{% endblock content %}
