{% extends 'partials/base.html' %}
{% block content %}
    <div class="container max-w-full mx-auto px-6">
        <div class="max-w-sm mx-auto px-6">
            <div class="relative flex flex-wrap">
                <div class="w-full relative">
                    <div class="md:mt-6">
                        <div class="text-center">Register new staff</div>
                        <form class="form-primary"
                              x-data="{password: '',password_confirm: ''}"
                              hx-post="/admin/staff"
                              hx-push-url="true">
                            <div class="py-1">
                                <span class="px-1 text-sm text-gray-600">Username</span>
                                <input placeholder=""
                                       type="text"
                                       name="username"
                                       id="username"
                                       class="text-input-primary">
                            </div>
                            <div class="py-1">
                                <span class="px-1 text-sm text-gray-600">Email</span>
                                <input placeholder=""
                                       type="email"
                                       name="email"
                                       id="email"
                                       class="text-input-primary">
                            </div>
                            <div class="py-1">
                                <span class="px-1 text-sm text-gray-600">First Name</span>
                                <input placeholder=""
                                       type="text"
                                       name="firstname"
                                       id="firstname"
                                       class="text-input-primary">
                            </div>
                            <div class="py-1">
                                <span class="px-1 text-sm text-gray-600">Last Name</span>
                                <input placeholder=""
                                       type="text"
                                       name="lastname"
                                       id="lastname"
                                       class="text-input-primary">
                            </div>
                            <div class="py-1">
                                <span class="px-1 text-sm text-gray-600">Password</span>
                                <input placeholder=""
                                       type="password"
                                       x-model="password"
                                       name="password"
                                       id="password"
                                       class="text-input-primary">
                            </div>
                            <div class="py-1">
                                <span class="px-1 text-sm text-gray-600">Password Confirm</span>
                                <input placeholder=""
                                       type="password"
                                       x-model="password_confirm"
                                       class="text-input-primary">
                            </div>
                            <button class="btn-primary">Add new staff</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
